@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050511;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}
